ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.appt-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 240px;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.1);
}

.appt-item h3 {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
    color: black;
    text-align: center;
}

.appt-item h5 {
    margin: 0.5rem 0;
    color: #979EA2;
    margin-right: 10px;
}
    
.appt-item p {
    margin: 0.5rem 0;
    color: black;
    font-size: 0.875rem;
}

.appt-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}