.doc-card {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.doc-card img {
    width: 200px;
    height: 170px;
    border-radius: 8px 0 0 8px;
    object-fit: cover;
}

@media screen and (max-width: 430px) {

    .doc-card {
        flex-wrap: wrap;
    }

    .doc-card img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .doc-details button {
        border-radius: 0 0 8px 8px !important;
    }
}

.doc-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.doc-info .title {
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
    color:#979EA2; 
    font-weight: bold;
}

.doc-details {
    width: 300px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.doc-details h2 {
    font-size: 20px;
    margin: 0;
}

.doc-details button {
    background-color: white;
    color: #10B8B9;
    border-top: 1px solid #10B8B9;
    border-bottom: none;
    border-radius: 0 0 8px 0;
    padding: 10px 20px;
    border-left: none;
    border-right: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
}

.doc-details button:hover {
    filter: brightness(125%);
}

.doc-details .no-availability {
    background-color: #f44336;
    font-size: 14px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: auto;
}

.doc-details .no-availability:hover {
    filter: none;
}