.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.filter-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.filter-container select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.2s;
    width: 200px;
}